@media screen and (max-width: 750px) {
    nav{
        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hs1(0 0% 100% / 0.1);
    }
}