{% extends 'base.html' %} {% block content %}
<div class="container" style="width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
    filter: blur(10px);">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="color: white;text-align: center;
    position: absolute;
    left: 37%;
    top: 30%;
    transform: translate(-50%, -50%);">
        <h1 style="font-weight: 600;"> {{post.title}}</h1>
            <ul style="color: white;font-size: xx-large;">By: {{post.author.first_name}} {{post.author.name.name}}</ul><br/>
        <hr style="color: white;">
        <br/>
    <h3 style="color: white;">{{post.body}}</h3>
    </div>
</div>
{% endblock %}