{% extends 'base.html' %} {% block content %}
 {% load static %}


  <div class="row justify-content-center mt-5">

<div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="top: -41px;left: -269px;">

      <a href = "#" href="https://fontmeme.com/graffiti-creator/"><img src="https://fontmeme.com/permalink/211024/d960698d79f579cc36141e8684987abe.png" alt="graffiti-creator" border="0"></a>

    </div>
  </div>
<div class="responsive">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="    left: 534px; top: -37px;" >
<img src="/static/img/DL.png" >
</div>
</div>
  </div>
{% endblock %}
