*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container:before{
    width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
    filter: blur(10px);

}

@media (max-width: 480px){
        .container{
        left: 54%;
        }
    }