{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5" style="color: white;
  background: black;">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1 style="font: revert;font-size: xxx-large;">TEAM</h1>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        window.initializeCarousel = () => {
          $("#carouselExampleSlidesOnly").carousel({ interval: 500 })
        }
      </script>
      <style type="text/css">
        .carousel-inner img {
          height: 500px;
        }
      </style>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/first.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/president.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/secretary.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/vp.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/Treasurer.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/relead.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/recolead.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/reasso.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/techlead.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/techcolead.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/adcolead.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/adcolead2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/grdes.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/grdes2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/contentwr.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/webdev.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/01.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/o2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/o3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/o4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/o5.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">

  </div>

  </div>
</div>
{% endblock %}