{% extends 'base.html' %} {% block content %}
{% load static %}
  <link rel= "stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'team.css' %}">
<link rel="stylesheet" href = "https://unp.com/boxicons@latest/css/boxicons.min.css"/>
<body>
<h1 style="color: white; font-weight: 900; text-align: center;"><br>Meet the Celestials<br></h1>


        <div class="container" >



            <div class="card">
                <div class="content">
                    <div class="imgBox">
                        <img src="">                    </div>
                     <div class="contentBox">
                         <br><h3>SUN<br><span>POST</span></h3>
                     </div>
                </div>

            </div>

            <div class="card">
                <div class="content">
                    <div class="imgBox">
                        <img src=""/>                     </div>
                     <div class="contentBox">
                         <br><h3>MERCURY<br><span>POST</span></h3>
                     </div>
                </div>

            </div>


                <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>VENUS<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>EARTH<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>MARS<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>JUPITER<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>SATURN<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>NEPTUNE<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
            <div class="card">
                    <div class="content">
                        <div class="imgBox">
                            <img src=""/>
                         </div>
                         <div class="contentBox">
                             <br><h3>URANUS<br><span>POST</span></h3>
                         </div>
                    </div>

                </div>
        </div>

        </div>

        <br>
<br>
<br>

<br>
<br>

</body>
{% endblock %}