{% extends 'base.html' %} {% block content %}
 {% load static %}

    <link rel="stylesheet" href="{% static 'article.css' %}"><br>
<div class="container">
    <div class="wrapper">
        <div class="glass" style="width: 90%; color: white;">

      <br><br><h1 style="text-align: -webkit-center;font-weight: 600;color:white;"> {{post.title}}</h1>
            <h3 style="color: white;text-align: center;font-size: xx-large;">By: {{post.author.first_name}} {{post.author.name.name}}</h3><br/>




    <h4 style="color: white;">{{post.body|safe}}</h4>
        <br>
        <br>
        <br>
<h2 >Comments...</h2>
{% if not post.comments.all %}
    No Comments Yet...
    <br><a href="{% url 'addc' post.pk %}" button class="btn btn-secondary">Add Comment</a><br><br><br><br>
{% else %}
        <a href="{% url 'addc' post.pk %}" button class="btn btn-secondary">Add Comment</a><br><br>
    {% for comments in post.comments.all %}
<h4><strong>
        {{ comments.name }} -
        {{ comments.date_added }} :
</strong>
    {{comments.body}}</h4><br><br>
    {% endfor %}
{% endif %}
        <br>
        <br>
<br>
        <br>

    </div>
    </div>
    <br>
    <br>

</div>
{% endblock %}