{% extends 'base.html' %} {% block content %}
<div class="container" >
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="color: white;text-align: center;">
        <h1 style="font-weight: 600;"> {{post.title}}</h1>
            <ul style="color: white;font-size: xx-large;">         By: {{post.date}}</ul><br/>
        <hr style="color: white;">

    <img src="{{ post.image.url }}" width="258" height="300"/>

    <h3 style="color: white;">{{post.body}}</h3>
        <br>
        <br>
        <br>
        {% comment %}
<h2 >Comments...</h2>
{% if not post.evecomm.all %}
    No Comments Yet...
    <br><a href="{% url 'ecomm' post.pk %}" button class="btn btn-secondary">Add Comment</a><br><br>
{% else %}
        <a href="{% url 'ecomm' post.pk %}" button class="btn btn-secondary">Add Comment</a><br><br>
    {% for evecomm in post.evecomm.all %}
<strong>
        {{ evecomm.Name }} -
        {{ evecomm.Date_added }} :
</strong>
        {{evecomm.Body}}<br><br>
    {% endfor %}
{% endif %}
        <br>
        <br>
{% endcomment %}
</div>
</div>
{% endblock %}