{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'events.css' %}">
<link rel="stylesheet" href = "https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
<body>
    <h1 style="color: white; font-weight: 900; text-align: center;"><br>EVENTS<br></h1>
    <div class="container" >
        <div class="card">
                <div class="content">
                    <div class="imgBox">
                         <img src="/static/apollo11.jfif">

                     </div>
                     <div class="contentBox">
                         <br><h3>Apollo 11<br><span>Landing on the Moon <br>July 20, 1969</span></h3>
                     </div>
                                        <a href="#"><input type="submit" value="View"></a>

                </div>

            </div>
        <div class="card">
                <div class="content">
                    <div class="imgBox">
                        <img src="/static/mom.jpg">
                     </div>
                     <div class="contentBox">
                         <br><h3>Mangalyaan<br><span>India sends a satellite to Mars in its first attempt<br> 24 September 2014</span></h3>
                     </div>
                    <a href="#"><input type="submit" value="View"></a>
                </div>

            </div>



</div>
</div><br><br><br><br><br>
</body>
{% endblock %}