{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'events.css' %}">
<link rel="stylesheet" href = "https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>

    <h1 style="color: white; font-weight: 900; text-align: center;">EVENTS</h1>
    <div class="container" >
    <div class="card">
                <div class="content">
                    <div class="imgBox">
                        <img src="/static/inaug.png">
                     </div>
                     <div class="contentBox">
                         <br><h3>DSAII Inauguration <br><span>Inauguration of the club<br>15th September 2021</span></h3>
                     </div>
                    <a href="{% url 'inaug' %}"><input type="submit" value="View"></a>
                </div>

            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBox">
                        <img src="/static/images/quiz.png">
                     </div>
                     <div class="contentBox">
                         <br><h3>Quizomania<br><span>An online interactive quiz<br>2nd October 2021</span></h3>
                     </div>
                    <a href="{% url 'quiz' %}"><input type="submit" value="View"></a>
                </div>

            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBox">
                         <img src="/static/chlogo1.png">

                     </div>
                     <div class="contentBox">
                         <br><h3>Coding Hour<br><span>A coding/programming competition <br>4th December 2021</span></h3>
                     </div>
                                        <a href="{% url 'codhr' %}"><input type="submit" value="View"></a>

                </div>

            </div>
</div>
</div>

{% endblock %}