{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container" style="color: white;text-align: center; font-size: larger;">
    <br><br><h1 style="font-weight: 900;"> DSAII Inauguration</h1><br><br>
    <h2 style="font-weight: 900;">Introduction</h2>
    <p>
DSAII INAUGURATION REPORT<br>
Name of event: DSAII INAUGURATION<br>
Date of event: 15/9/21<br>
Platform for event: ZOOM<br>
Number of attendees: 200</p><br><br>
<div class="container">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        window.initializeCarousel = () => {
          $("#carouselExampleSlidesOnly").carousel({ interval: 300 })
        }
      </script>
      <style type="text/css">
        .carousel-inner img {
          height: 514px;
        }
        @media (max-width: 750px) {
            .carousel-inner img {
              height: 255px;
            }
        }
      </style>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/inaug.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/srush.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/i.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug3.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug4.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug5.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/i3.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug6.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug7.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug8.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug9.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug10.png" class="d-block w-100" alt="...">
          </div>
            <div class="carousel-item">
            <img src="/static/inaug11.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>
    <br><br><h2 style="font-weight: 900;">The Event</h2>
    <p>The 15th of September was a memorable day for not only being considered as Engineer’s Day, but
also as the day of the inauguration of the DSAII club, a club which is devoted to the deep study of
artificial intelligence and data science, and is the newest addition to our college’s vast array of clubs.
An idea for a club turned reality by the grit and tenacity of its founding members is quite literally a
club by the students, and for the students.<br>
The event was organized by the AI&DS department in the presence of the institute’s prestigious faculty. The event was led and executed successfully under the guidance of Prof. Subhangi Suryawanshi
and Prof. Dheeraj Agrawal.<br>
Learning through practical experience being one of the core tenants of the club, it aims to amplify
the students’ skills as well as their team work. The event was an insightful one as it gave a background
of the various fields included in Artificial Intelligence and Data Science by the core members.<br>
Questions such as:<br>
What is AI&DS?<br>
Why is AI important?<br>
Where is AI used?<br>
What is Data Science(DS)?<br>
Does DS use AI, ML, DL?<br>
were answered during the introduction of the club followed by talking about the future scope of the
department.<br>
A virtual voice assistant designed by a fellow member as well as a video of an AI playing hide and
seek were used as examples of many of the applications of Artificial Intelligence and Data Science.
The event was an interactive one, answering many of the questions of the attendees.<br>
The team of DSAII feels immense pride in organising an event that can only be considered successful, and would also like to convey our thanks to the principal and the management for their timely
advice and co-operation on the launching of the club.</p><br><br><br><br><br>
</div>
{% endblock %}