{% extends 'base.html' %} {% block content %}
 {% load static %}
<!--<link rel="stylesheet" href = "http://www.w3schools.com/lib/w3.css"/>-->
    <link rel="stylesheet" href="{% static 'index.css' %}">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.googlestatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet" />


<header>
        <div class="glass">
            <h1 class="h-glass">Data Science <br>And<br>Artificial Intelligence Inquisitive Club</h1>
           <div>
                <br><br><h2>Vision<br>
                    • Empowerment
through Knowledge!
• Our vision is to create a
community that
innovates and explores
AI&DS.
• We intent to make
every student feel
confident about their
work and elevate their
communication skill.
Our aim is to
motivate
students to share
their ideas and
provide a platform
for research
purposes.
• Acting as a
platform where all
the branches unite,
connect and work together



                <br><br>Mission<br>

                    Dedicated efforts for confidence boosting.
Yearning to promote research and skill
enhancement.
Persistent endeavor to imbibe practical
knowledge.
Inculcating the concept of Artificial
Intelligence & Data Science.
Treading the path to meet the future
challenges
Motivating and guiding students to participate
in various research and development activities.
Exposing the participants to practical and
competitive environment to enhance their skill.
            </h2>
                   </div>
                      </div>



        <nav>
            <div class="container">
                <div class="menu">
                    <ul class ="social media">
                        <li>
                            <a href="https://www.instagram.com/dsaii.dit/" class="media-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="media-icon">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dsaii" class="media-icon">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://chat.whatsapp.com/LnOuxnqYvdELA3NelRAPh7" class="media-icon">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://discord.gg/HUV8K3pBqG" class="media-icon">
                                <i class="fab fa-discord"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/dsaiidit" class="media-icon">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

{% endblock %}
