    {% load static %}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark transparent" style="width: 100%; background: hs1(0 0% 100% / 0.1);">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="{% url 'index' %}" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="{% url 'about' %}" >GK Trivia</a>
      </li>
        <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="{% url 'events' %}" >Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="{% url 'blogs' %}" >Blogs</a>
      </li>
    </ul>

  </div>
  <div class="menu">
                    <ul class ="social media" >
                        <li>
                            <a href="https://www.instagram.com/khushi._0205/" class="media-icon">
                                <i class="fab fa-instagram" style="color: white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:khushi.sali2002@gmail.com" class="media-icon">
                                <i class="fab fa-google" style="color: white;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/khushi0205" class="media-icon">
                                <i class="fab fa-github" style="color: white;"></i>
                            </a>
                        </li>

                        <li >
                            <a href="https://t.me/KhushiSali" class="media-icon">
                                <i class="fab fa-telegram" style="color: white;"></i>
                            </a>
                        </li>


                    </ul>

  </div>
</nav>
    <style>
      .navbar{
        flex-wrap: unset;
      }


nav{
    z-index: 99;
    position: relative;
    transition: 0.4s;
}

nav a{
    text-decoration: none;
    color: #1f1f1f;
}

nav .container{
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5em;

}

nav ul a{
    font-size: 0.8em;
    text-transform: uppercase;
}

nav .container .menu-btn{
    display: none;
}

.social-media a{
    font-size: 1em;
}

    </style>